@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F7F9FB; /* Warna Cloud */
  color: #2D5D41; /* Warna Deep Forest */
  background-image: 
    radial-gradient(at 0% 0%, rgba(127, 176, 105, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(243, 222, 138, 0.2) 0px, transparent 50%);
  /* Itu bikin efek cahaya matahari tipis di pojok */
}